.App {
  padding: 1.5em;
  background-color: rgb(240, 245, 249);
  max-width: 1230px;
  margin: 0 auto;

  @media screen and (max-width: 430px) {
    padding: 0.1em;
  }

  .Logo {
    width: 80px;
    height: 90px;
    background-image: url(../../icons/Logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5em;
    margin: 0 auto;
    margin-bottom: 1em;
  }

  .OrderColFirst {
    padding: 0 1.5em 1.5em 1.5em;
  }
}
