.TransferFilters {
  [class~='ant-card-body'] {
    padding: 5px;
  }
  .CheckForm {
    .CheckItem {
      padding: 0.6em;
      margin: 5.5px 0;
      padding-left: 2em;
      position: relative;

      &:hover {
        background-color: #f1fcff;
      }

      .CheckLabel {
        cursor: pointer;
      }

      .CheckInput {
        opacity: 0;
        height: 0;
        position: relative;
        cursor: pointer;

        & + .CheckLabel::before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          left: 1em;
          background-image: url('../../icons/Checkbox.svg');
        }

        &:checked + .CheckLabel::before {
          content: '';
          width: 20px;
          height: 20px;
          position: absolute;
          left: 1em;
          background-image: url('../../icons/Checkbox-2.svg');
        }
      }
    }
  }
}
