.button-container {
  padding-top: 1em;

  .button {
    width: 100%;
    padding: 24px;
    //  background-color: #2196f3;
    //  color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
