.TicketsList {
  .List-item {
    border: none;
    padding: 0;
    padding-top: 1em;
  }
  .ButtonContainer {
    background-color: aquamarine;
  }
}
.NoContent {
  width: 100%;
  font-size: 1.2rem;
  padding: 2em;
  margin-top: 2em;
  background-color: transparent;
  box-sizing: border-box;
  background-color: white;
  text-align: center;
}
